.body-section {
    background-color: var(--color-bg-tertiary);
}

.searchResultSection{
    border-radius: 5px;
    background-color: var(--color-bg-secundary);
    padding: 20px;
    margin: 20px 0;
    min-height: 408px;
    max-height: 100%;
}